<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Flight Reservation">
  <test name="Blaze Demo Test">
  
     <parameter name="name" value="Priyanka Choudhury"></parameter>
     <parameter name="address" value="Fanogade 1 , 3tv"></parameter>
     <parameter name="city" value="Copenhagen"></parameter>
     <parameter name="state" value="Copenhagen"></parameter>
     <parameter name="zipcode" value="2100"></parameter>
     <parameter name="creditcardno" value="24567172896"></parameter>
     <parameter name="month" value="06"></parameter>
     <parameter name="year" value="2021"></parameter>
     
     
    <classes>
      <class name="com.priyanka.flightReservation.FlightReservation.FlightRes"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->







